* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

#app > div {
  margin: 5em 0;
}
.soundButtonIcon {
  background-color: red;
  background: linear-gradient(298deg, rgba(0,0,0,1) 0%, rgba(121,9,9,1) 45%, rgba(156,0,0,1) 68%, rgba(121,9,9,1) 85%, rgba(0,0,0,1) 100%);
  width: 8em;
  height: 8em;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 1em;
  text-shadow: 1px 1px 5px black, -1px -1px 5px black;
  margin: 8px 13px;
}

.soundButtonText {
  background: whitesmoke;
  padding: 3px;
  transform: rotate(-6deg);
  color: black;
  text-shadow: 2px 2px 5px #00000088;
  font-weight: bold;
}

.soundButtonGrid {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.soundButtonIcon:hover {
  cursor: pointer;
}

h1, h3 {
  text-align: center;
}
.main-content-container {
  display: flex;
  justify-content: space-between;
}

.NavBar-container {
  position: relative;
}

ul, .activeMode {
  list-style: none;
  width: 5em;
  border: 0.25em solid #595959;
  border-right: 0em;
  border-radius:1em 0em 0em 1em;
  padding: 0em;
}

ul {
  margin-top: 1.5em;
}

.menuOption:hover {
  cursor: pointer;
}

.button-row {
  display: flex;
}
